* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    /* height: 100%; */
}

body {
    /* min-height:100%; */
    background-image: url("abstract.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
}

header {
    background-color: #3F4E4Fdd;
    min-height: 12vh;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

main {
    background-color: #3F4E4Fdd;
    min-height: 88vh;
    padding-bottom: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

h1,
h2,
h3,
h4,
p,
a {
    margin: 1rem;
}

p,
h3,
h2 {
    font-family: "Secular One";
}



header,
main {
    margin-left: 16rem;
}

header,
main .subtittle {
    text-align: center;
}

header {
    margin-left: 16rem;
}

header h1 {
    font-family: "Yanone Kaffeesatz";
    color: #DCD7C9;
    font-size: 4rem;
}

nav {
    width: 16rem;
    position: fixed;
    top: 0%;
    left: 0;
    bottom: 0;
    background-color: #DCD7C9dd;
}

nav h2 {
    text-align: center;
    font-family: "Yanone Kaffeesatz";
    font-size: 2rem;
    color: #A27B5C;
}

nav a {
    font-family: "Fjalla One";
}

nav a:link,
nav a:visited {
    display: block;
    width: 10rem;
    height: 2rem;
    margin: 1rem auto;
    line-height: 2rem;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 0.313rem;
    background-color: #2C3639;
    color: #DCD7C9;
}

nav a:hover,
nav a:active {
    background-color: #5a6e74;
}

.content {
    text-align: center;
}

.subtittle {
    font-size: 2rem;
    color: #A27B5C;
}

.sub-content {
    width: 352px;
    height: 352px;
    display: inline-block;
    vertical-align: top;
}

.sub-content.basalt div.container {
    background-color: #2C3639;
}

.sub-content.ash div.container {
    background-color: #3F4E4F;
}

.sub-content.bear div.container {
    background-color: #A27B5C;
}

.sub-content.champignon div.container {
    background-color: #DCD7C9;
    border-width: 3px;
    border-color: #2C3639;
}

div.container {
    width: 320px;
    height: 260px;
    border: 3px solid #DCD7C9;
    border-radius: 0.313rem;
    font-size: 1.25rem;
}

.cols-info {
    margin: 4rem;
    font-size: 1.5rem;
}

@media only screen and (max-width: 800px) {

    header,
    main {
        margin-left: 0;
    }

    nav {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        position: static;
        width: 100%;
    }

    main {
        border-top: 1px solid transparent;
    }
    div.container{
        margin: 0 auto;
    }


}



.colors {
    color: #2C3639;
    color: #3F4E4F;
    color: #A27B5C;
    color: #DCD7C9;
}