* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body {
    background-color: #3F4E4F;
}

body {

    background-image: url("abstract.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}



header {
    background-color: #3F4E4Fdd;
    min-height: 12vh;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

main {
    background-color: #3F4E4Fdd;
    min-height: 88vh;
    padding-bottom: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

h1,
h2,
h3,
h4,
p,
a {
    margin: 1rem;
}

p,
h3,
h2 {
    font-family: "Secular One",Arial, Helvetica, sans-serif;
}

p {
    font-size: 1.5rem;
}

h4 {
    color: #DCD7C9;
}



header,
main {
    margin-left: 16rem;
}

header,
main .subtittle {
    text-align: center;
}

header {
    margin-left: 16rem;
}

header h1 {
    font-family: "Yanone Kaffeesatz",Arial, Helvetica, sans-serif;
    color: #DCD7C9;
    font-size: 4rem;
}

nav {
    width: 16rem;
    position: fixed;
    top: 0%;
    left: 0;
    bottom: 0;
    background-color: #DCD7C9;
}

nav h2 {
    text-align: center;
    font-family: "Yanone Kaffeesatz",Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #A27B5C;
}

nav a {
    font-family: "Fjalla One";
}

nav a:link,
nav a:visited {
    display: block;
    width: 10rem;
    height: 2rem;
    margin: 1rem auto;
    line-height: 2rem;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 0.313rem;
    background-color: #2C3639;
    color: #DCD7C9;
}

nav a:hover,
nav a:active {
    background-color: #5a6e74;
}

.subtittle {
    font-size: 2rem;
    color: #A27B5C;
}


/*********************/

.content{
    text-align: center;
}

.sub-content{
    width: 320px;
    min-height:488px;
    margin: 2rem 4rem;
    display: inline-block;
    vertical-align: top;
}

.sub-content ul li{
    font-family: "Secular One",Arial, Helvetica, sans-serif;
    font-size: 2rem;
    list-style: none;

}

.sub-content h3{
    font-size: 1.75rem;
}

.sub-content.aitch-one h1{
    background-color: #2C3639;
    font-size: 2rem;
    font-family: "Yanone Kaffeesatz",Arial, Helvetica, sans-serif;
}

.sub-content.aitch-two h2{
    background-color: #2C3639;
    font-size: 1.5rem;
    font-family: "Secular One",Arial, Helvetica, sans-serif;
}

.sub-content.anchor a{
    background-color: #2C3639;
    font-size: 1.25rem;
    font-family: "Fjalla One",Arial, Helvetica, sans-serif;
}

.sub-content .container{
    min-height: 160px;
}


@media only screen and (max-width: 800px) {

    header,
    main {
        margin-left: 0;
    }

    nav {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        position: static;
        width: 100%;
    }

    main {
        border-top: 1px solid transparent;
    }

    .sub-content{
        margin-left: 0;
        margin-right: 0;
    }

}

.colors {
    color: #2C3639;
    color: #3F4E4F;
    color: #A27B5C;
    color: #DCD7C9;
}